.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #FBFBFB;
  text-align: center;
}

.progressBarContainer {
  width: 100%;
  margin-bottom: 164px;
  display: flex;
  justify-content: center;
}

.exhibitionsGrid {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.exhibitionCard {
  position: relative;
}

.exhibitionCard:first-child .exhibitionImage {
  width: 161.063px;
  height: 210.147px;
  object-fit: cover;
  transform: rotate(-15deg);
  box-shadow: 0px 47px 13px 0px rgba(0, 0, 0, 0.00), 0px 30px 12px 0px rgba(0, 0, 0, 0.01), 0px 17px 10px 0px rgba(0, 0, 0, 0.03), 0px 7px 7px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.exhibitionCard:last-child .exhibitionImage {
  width: 161.063px;
  height: 210.147px;
  object-fit: cover;
  transform: rotate(15deg);
  box-shadow: 0px 47px 13px 0px rgba(0, 0, 0, 0.00), 0px 30px 12px 0px rgba(0, 0, 0, 0.01), 0px 17px 10px 0px rgba(0, 0, 0, 0.03), 0px 7px 7px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);



}

.exhibitionName {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Neue Montreal", sans-serif;
  font-weight: 400;
  display: flex;
    padding: 10.174px 16.957px;
    justify-content: center;
    align-items: center;
    gap: 10.174px;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 12px;
  background: linear-gradient(270deg, #F17D10 17.31%, #FFC548 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.stat {
  font-size: 24px;
  font-weight: 500;
  font-family: "Neue Montreal", sans-serif;
}

.note {
  font-size:24px;
  color: #666666;
    font-family: "Neue Montreal", sans-serif;
}
